div
	nav#mainNavigation
		img#profilePicture(src='images/profile.png')
		img#timelineBtn(src='images/menu-timeline-gray.png', data-type='timeline')
		img#mentionsBtn(src='images/menu-mentions-gray.png', data-type='mentions')
		img#messagesBtn(src='images/menu-messages-gray.png', data-type='messages')
		img#listsBtn(src='images/lists.png', data-type='lists')
		img#profileBtn(src='images/person.png', data-type='profile')
		img#searchBtn(src='images/magnifying-glass.png', data-type='search')
	
	section#main
	